source https://www.nuget.org/api/v2

framework: >= net461
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget FAKE
nuget FsCheck
nuget FsCheck.Xunit
nuget FSharp.Core
nuget NUnit
nuget SpecFlow
nuget TickSpec
nuget Unquote